__pycache__/
.vscode/
.streamlit/
Child_Labour_Education_Impact.csv
District_Education_Statistics.csv
Education_Investment.csv
Educational_Infrastructure.csv
nepal-education-and-socio-economic-trends-20202026.zip
Student_Performance.csv
project.tree
*.csv
pipeline.log
pipeline.db
*.log
*.db
*.tree
